<div class="dashboard">
  <div class="charts">
    <div class="charts__pie">
      <ngx-charts-pie-chart
        legendTitle="Типы индикаторов коспрометации"
        [view]="[765, 400]"
        [scheme]="colorScheme"
        [legendPosition]="legendPosition"
        [results]="iocs"
        [gradient]="true"
        [legend]="true"
        [labels]="true"
        [doughnut]="false"
        (select)="onPieTypeSelected($event)"
      >
      </ngx-charts-pie-chart>
    </div>
    <div class="charts__chart">
      <button *ngIf="stateService.iocsPerYear.length"
              (click)="stateService.iocsPerMonth.length ? stateService.iocsPerMonth = [] : stateService.iocsPerYear = []"
              mat-button color="accent"
              class="back-btn">Назад
      </button>
      <div *ngIf="stateService.iocsPerMonth.length"
           @fadeListIn
           @fadeListOut
           class="charts__month-list">
        <mat-list>
          <ng-container *ngFor="let listItem of stateService.iocsPerMonth">
            <mat-list-item [routerLink]="'/ioc/' + listItem.id">
              <mat-icon matListItemIcon color="accent">{{ IOC_TYPE_ICON[listItem.type] }}</mat-icon>
              <div matListItemTitle class="white-text cursor-pointer">{{ listItem.type }}</div>
              <div matListItemLine class="white-text cursor-pointer">{{ listItem.ioc }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </div>
      <ngx-charts-bar-vertical
        [view]="[715, 460]"
        [results]="stateService.iocsPerYear.length ? stateService.iocsPerYear : iocsPerYears"
        [gradient]="true"
        [showGridLines]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        scheme="fire"
        yAxisLabel="Количество найденных индикаторов"
        [xAxisLabel]="stateService.iocsPerYear.length ? 'Месяц' : 'Год'"
        (select)="onYearSelected($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>

  <div class="search">
    <mat-form-field class="search__form" color="primary">
      <mat-label>Поиск...</mat-label>
      <input matInput type="text" (keyup.enter)="loadByQuery()" [(ngModel)]="stateService.searchQuery">
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="stateService.searchQuery"
              (click)="stateService.searchQuery = ''">
        <mat-icon>clear</mat-icon>
      </button>
      <button matSuffix mat-icon-button aria-label="Search" (click)="loadByQuery()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="lists">
    <ng-container *ngFor="let list of stateService.selectedIocLists; let index = index">
      <mat-card
        *ngIf="expandedListIndex === null || index === expandedListIndex"
        [ngClass]="{
          'lists__card_lighted': lightedList === list.type,
          'lists__card_expanded': expandedListIndex === index
        }"
        @fadeCardIn @fadeCardOut
        class="lists__card"
      >
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon color="primary">{{ IOC_TYPE_ICON[list.type] }}</mat-icon>
          </div>
          <mat-card-title>{{list.type}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list [ngClass]="{ 'expanded-list': expandedListIndex === index }">
            <cdk-virtual-scroll-viewport orientation="vertical" [minBufferPx]="200" [maxBufferPx]="200" itemSize="75"
                                         class="lists__card-viewport">
              <ng-container *ngIf="expandedListIndex === index; else cutList">
                <table>
                  <tbody>
                  <ng-container *cdkVirtualFor="let listItem of (list.iocs.length / 4 | numToArray); let index = index">
                    <tr>
                      <td *ngFor="let i of (4 | numToArray); let subindex = index">
                        <ng-container *ngIf="list.iocs[index + subindex].id; else searchedListData">
                          <mat-list-item class="card__item card__item_fixed"
                                         [routerLink]="'/ioc/' + list.iocs[index + subindex].id">
                            <div matListItemTitle
                                 class="card__title">{{ list.iocs[index + subindex].ioc || stateService.searchQuery }}</div>
                            <div matListItemLine
                                 class="card__description card__description_short">{{ list.iocs[index + subindex].iocs_paragraph?.replaceAll('\n', ' ') }}</div>
                          </mat-list-item>
                        </ng-container>
                        <ng-template #searchedListData>
                          <mat-list-item class="card__item card__item_fixed"
                                         (click)="getArticleContent(list.iocs[index + subindex])">
                            <div matListItemTitle
                                 class="card__title">{{ list.iocs[index + subindex].ioc || stateService.searchQuery }}</div>
                            <div matListItemLine
                                 class="card__description card__description_short">{{ list.iocs[index + subindex].iocs_paragraph?.replaceAll('\n', ' ') }}</div>
                          </mat-list-item>
                        </ng-template>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </ng-container>
              <ng-template #cutList>
                <ng-container *ngIf="list.iocs?.length !== 0; else empty">
                  <ng-container *cdkVirtualFor="let listItem of list.iocs.slice(0, 8)">
                    <ng-container *ngIf="listItem.id; else searchedData">
                      <mat-list-item [routerLink]="'/ioc/' + listItem.id" class="card__item">
                        <div matListItemTitle class="card__title">{{ listItem.ioc }}</div>
                        <div matListItemLine
                             class="card__description">{{ listItem.iocs_paragraph.replaceAll('\n', ' ') }}</div>
                      </mat-list-item>
                    </ng-container>
                    <ng-template #searchedData>
                      <mat-list-item (click)="getArticleContent(listItem)" class="card__item">
                        <div matListItemTitle class="card__title">{{ stateService.searchQuery }}</div>
                        <div matListItemLine
                             class="card__description">{{ listItem.iocs_paragraph.replaceAll('\n', ' ') }}</div>
                      </mat-list-item>
                    </ng-template>
                    <mat-divider></mat-divider>
                  </ng-container>
                </ng-container>
                <ng-template #empty>
                  <mat-list-item class="card__item">
                    <div matListItemTitle class="card__title">Нет результатов</div>
                    <div matListItemLine class="card__description">По Вашему запросу ничего не найдено</div>
                  </mat-list-item>
                </ng-template>
              </ng-template>
            </cdk-virtual-scroll-viewport>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button
            *ngIf="list.iocs.length > 8"
            mat-button color="primary"
            (click)="expandedListIndex = expandedListIndex === null ? index : null">
            {{ expandedListIndex === null ? 'Еще' : 'Скрыть' }}
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
