.ioc {
  min-height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid-list {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-tile {
  color: white;
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  border-radius: 5px;

  .mat-icon {
    font-size: 128px;
    line-height: 128px;
    width: 128px;
    height: 128px;
  }
}

.table-wrapper {
  color: white;
  font-size: 28px;
  line-height: 28px;
  width: 100%;
  margin-top: 8px;
  padding: 12px;
  flex: 1 1 auto;

  background: linear-gradient(339deg, rgba(110,32,66,1) 0%, rgba(81,45,168,1) 100%);
  border-radius: 5px;

  table {
    border-spacing: 25px 0;
  }

  tr {
    height: 60px;
  }

  td {
    font-weight: 500;
    padding: 8px 0;

    a {
      color: white;
    }

    &.offset {
      font-weight: 400;
      padding-left: 43px;
    }
  }
}

.article {
  color: white;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  margin-top: 8px;
  padding: 43px;
  flex: 1 1 auto;
  white-space: pre-line;

  background: linear-gradient(163deg, rgba(0,0,0,1) 0%, rgba(103,35,89,1) 80%, rgba(81,45,168,1) 100%);
  border-radius: 5px;
}
