<div class="ioc">
  <mat-grid-list cols="4" rowHeight="100px" gutterSize="8px" class="grid-list">
    <mat-grid-tile
      *ngFor="let tile of tiles; let index = index"
      class="grid-tile"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [@leftFade]="index === 0 ? 'readyLeft' : ''"
      [@topFade]="index === 1 ? 'readyTop' : ''"
      [@rightFade]="index === 2 ? 'readyRight' : ''"
      [@bottomFade]="index === 3 ? 'readyBottom' : ''"
    >
      <ng-container *ngIf="index === 0; else usualText">
        <mat-icon [style.background]="tile.color" class="tile-content">{{ IOC_TYPE_ICON[tile.text] }}</mat-icon>
      </ng-container>
      <ng-template #usualText>
        <div [style.background]="tile.color" class="tile-content">{{tile.text}}</div>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="iocInfo" class="table-wrapper" @tableFade>
    <table>
      <tbody>
        <tr>
          <td>Название статьи:</td>
          <td class="offset">{{iocInfo.article.title}}</td>
        </tr>
        <tr>
          <td>Дата публикации:</td>
          <td class="offset">{{iocInfo.article.date}}</td>
        </tr>
        <tr *ngIf="iocInfo?.article?.filename">
          <td>Имя файла:</td>
          <td class="offset">{{iocInfo.article.filename}}</td>
        </tr>
        <tr>
          <td>Источник:</td>
          <td class="offset"><a class="clickable" href="{{ iocInfo.article.link + '#:~:text=' + (iocInfo.ioc.iocs_paragraph | encodeURIComponent) }}" target="_blank">{{iocInfo.article.link}}</a></td>
        </tr>
        <tr>
          <td>Количество индикаторов компрометации в статье:</td>
          <td class="offset">{{iocInfo.article.ioc_count}}</td>
        </tr>
        <tr>
          <td>Контекст:</td>
          <td class="offset">{{iocInfo.ioc.iocs_paragraph || '—' }}</td>
        </tr>
        <tr>
          <td (click)="getArticleContent(iocInfo.ioc.article_hash)" class="cursor-pointer">
            <div class="clickable">Показать статью целиком</div>
          </td>
          <td class="offset bold">
            <div
              *ngIf="iocInfo?.article?.filename"
              class="clickable cursor-pointer"
              (click)="downloadPdf(iocInfo.ioc.article_hash)"
            >
                Скачать PDF
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="showArticle" class="article-content" @tableFade>{{ article }}</div>
</div>
